
html, body, #root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.image-ag{
  width:200px;
  border-radius: 50%;
  height:200px;
  padding: 20px;
}

.logo {
  width: 200px;
  margin: 20px;
}

.about-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-section {
  padding: 20px;
  text-align: center;
  color: white;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#14C2CC;
  background-image: 
  radial-gradient(circle farthest-side at top right, transparent, #0D64FF), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #FF00A0);
  animation:clr-change 10s infinite;
}

@keyframes clr-change {
	0%, 100% {
		filter:hue-rotate(0deg);
	}
	50% {
		filter:hue-rotate(-45deg);
	}
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.bottom-section {
  background-color: #1C1D21;
  padding: 20px;
  color: white;
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.project-info {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  flex: 1;
}

.info-box {
  position: relative;
  display: inline-block;
  background: #1C1D21;
  border-radius: 5px;
  box-shadow:  0 12px 13px rgba(0,0,0,0.16), 0 12px 13px rgba(0,0,0,0.16);
  text-align: center;
  padding: 20px 50px;
  margin: 5px;
  padding-top: 5px;
  transition: all 0.5s;
}
.info-box h1{
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  html, #root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }

  .about-page {
    flex-direction: column;
  }

  .top-section {
    flex: 1;
    min-height: 50vh;
  }

  .top-section h1 {
    font-size: 2em;
  }

  .bottom-section {
    background-color: #1C1D21;
    padding: 20px;
    color: white;
  }

  .image-container {
    flex-direction: row;
  }

  .info-box {
    padding: 20px;
    color: white;
    border-radius: 10px;
    background-color: #1C1D21;
    flex: 1;
    margin-right: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .project-info {
    flex-direction: column;
  }
}



